%header-a {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 800px) {
    display: none;
  }
}

%section {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 590px) {
    font-size: 50px;
  }
}

%section1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
