/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header .container li a {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 800px) {
  header .container li a {
    display: none;
  }
}

h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 590px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header {
  padding: 24px 0;
}
header .container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1120px) {
  header .container {
    width: 95%;
  }
}
header .container ul {
  display: flex;
  gap: 50px;
}
header .container .fa-bars {
  display: none;
  font-size: 32px;
}
@media (max-width: 800px) {
  header .container .fa-bars {
    display: inline-block;
  }
}

section {
  height: 606px;
  background-image: url(../images/saxli.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

footer .f-div {
  max-width: 235px;
  margin-left: 100px;
}
@media (max-width: 1350px) {
  footer .f-div {
    margin-left: 5px;
    max-width: 180px;
  }
}
footer .disc {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
@media (max-width: 1350px) {
  footer .disc {
    font-size: 14px;
  }
}
footer .disc1 {
  color: #010101;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}
@media (max-width: 1350px) {
  footer .disc1 {
    font-size: 20px;
  }
}
footer .disc2 {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1350px) {
  footer .disc2 {
    font-size: 11px;
  }
}
footer .big-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 418px;
  margin-top: -220px;
  max-width: 924px;
}
@media (max-width: 1350px) {
  footer .big-div {
    max-width: 870px;
    margin-left: 200px;
  }
}
footer .div-2 {
  width: 286px;
  height: 312px;
}
footer .rome-h1 {
  color: #343232;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 23px;
}
@media (max-width: 1350px) {
  footer .rome-h1 {
    font-size: 16px;
  }
}
footer p {
  color: #636060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 9px;
}
@media (max-width: 1350px) {
  footer p {
    font-size: 14px;
  }
}
footer .div-3 {
  width: 286px;
  height: 312px;
  margin-top: 56px;
}
@media (max-width: 700px) {
  footer .f-photo {
    width: 220px;
  }
}/*# sourceMappingURL=global.css.map */